node_modules
*.log

# Client
/client/dist
/client/tmp
/client/out-tsc

/client/.sass-cache
/client/connect.lock
/client/coverage
/client/typings

/client/e2e/*.js
/client/e2e/*.map

/client/src/environments/environment.prod.ts

# Server
/server/secrets.js
