<div class="cell">
  <div *ngIf="!currentWorkout">
    <p>Select a workout from the list</p>
  </div>
  <div *ngIf="currentWorkout">
    <h2>
      {{ currentWorkout.name }}
      <button (click)="runWorkout()">Start</button>
    </h2>
    <div *ngIf="currentExercise">
      <h3>{{ currentExercise.name }}</h3>
      <p>
        {{ currentExercise.description }}
      </p>
      <p>
        {{ currentExercise.duration }}
      </p>
    </div>
    <audio id="tick-sound">
      <source src="{{ tickSoundUrl }}" type="audio/mpeg" />
    </audio>
    <audio id="switch-sound">
      <source src="{{ switchSoundUrl }}" type="audio/mpeg" />
    </audio>
    <button (click)="pauseWorkout()">Pause</button>
  </div>
</div>
